@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;

    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);

    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--open-sans);
  
}

 .container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
}

.hero_main{
    min-height: 100vh;
}


/* Start style header*/

.hero_header {
    margin: 20px 60px;
     padding-top: 25px;
 }

.hero_nav {
    display: flex;
    justify-content: space-between;
}

.container_logo {
    width: 45%;
    max-width: 200px;
}

.hero_logo {
    width: 100%;
    vertical-align: top;
}

.hero_cta {
    display: inline-block;
    color: var(--Light-Pink);
    border: 2px solid;
    text-decoration: none;
    padding: 6px 26px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgb(192 192 192 / 49%);
}
/*End style header*/

/*Start Section principal*/
.container_section_principal{
   text-align: center; 
    position: relative;
}


.title_section_principal{
font-family: var(--poppins);
color: var(--Very-Dark-Cyan);
font-size: 40px;
}

.paragraph_section_principal{
    width: 40%;
    margin: 16px auto;
    line-height: 1.5;
    color: var(--Very-Dark-Cyan);
}

.cta_GetStarted {
    display: inline-block;
    text-decoration: none;
    padding: 18px 67px;
    background: var(--Pink);
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    border-radius: 30px;
    margin-top: 16px;
    box-shadow: 0px 0px 10px rgb(192, 192, 192.1);

}

.figure_hero_img {
    margin-top: 80px;
    vertical-align: top;
}

.hero_img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    vertical-align: top;
}

.container_hero_numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    padding-bottom:17%;
    gap:60px;
}

.hero_element {
    overflow: hidden;
}

.hero_icon{
    display: block;
}

.hero_number {
    font-size: 70px;
    color: var(--Very-Dark-Cyan);
}

.paragraph_hero_element{
    color: rgb(128 128 128 / 64%);
}
/*End Section principal*/

/*Start Section wave*/
.wave{
position: absolute;
width: 100%;
height: 100px;
background-repeat: no-repeat;
background-size: 100% 100px;
}

.wave-bottom{
    left: 0;
    bottom:0;
    background-image: url('./img/bg-section-top-desktop-1.svg');
}

.wave-bottom-footer{
    left: 0;
    bottom:0;
    background-image: url('./img/bg-footer-top-desktop.svg');
}

.wave-top{
    left: 0;
    top:0;
    background-image: url('./img/bg-section-bottom-desktop-1.svg');
}

/*End Section Wave*/

/*Start section curve*/
.container_section_secondary{
    position: relative;
    background-color: var(--Very-Pale-Blue);
    text-align: center;
}

.section-white{
    background-color: #fff;
    padding: 6% 0;
}

.section_img {
    width: 100%;
    max-width:90%;
}
.subtitle{
color: var(--Very-Dark-Cyan);
font-family: var(--poppins);
margin-bottom: 10px;
}

.section_paragraph_secondary{
    color: var(--Very-Dark-Cyan);
    width: 80%;
}

.section_container{
display: flex;
flex-direction: row-reverse;
gap: 60px
}

.section_white_direction {
    display: flex;
    flex-direction: row;
}
.section_text{
    text-align: left;
    margin-top: 10%; 
}

.section_white_direction .section_paragraph_secondary {
    width: 100%;
}

.container_section_third{
    text-align: center;
    padding: 13% 0;
    position: relative;
}

.title_section_third{
color: var(--Very-Dark-Cyan);
}

 /*End section curve*/

 /*Start footer*/
 .footer{
    background-color: var(--Very-Dark-Cyan);
 }
 .container_footer{
 margin: 4% 0;
}

 .logo_footer{
color: #fff;
 }

 .firts_column {
    color: var(--Very-Pale-Blue);
}

.second_column{
    position: relative;
}

 .icons_social_media ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

.icons_information ul {
    list-style: none;
}

.icons_information ul li i {
    margin-right: 10px;
    margin-top: 16px;
}

.icons_social_media {
    margin-top: 10%;
}

.fa-brands, .fab{
font-size: 30px;
}

.fa-square-twitter:hover {
    color: #1da1f2;
}

.fa-instagram:hover{
color: transparent;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
background-clip: text;
-webkit-background-clip: text;
}

.fa-square-facebook:hover{
color:#1877f2;
}
.cta_subscribe{
    display: inline-block;
    text-decoration: none;
    padding: 11px 44px;
    background: var(--Pink);
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
}

.container_text{
    color: var(--Very-Pale-Blue);
}

.container_footer{
display: flex;
}

.container_paragraph_footer {
    width: 66%;
    margin: 20px 0;
}

.container_subscribe input {
    border-radius: 5px;
}

.form input{
    cursor: pointer;
}

input[type="email"]:focus{
outline: 0px;
 }

 input:invalid { border-color:var(--Light-Red); }
 
/*End Footer*/

/*Messages error inputEmail*/

.notify {
    font-size: 12px;
    color: var(--Light-Red);
    position: absolute;
    top: 39%;
    left: 0;
  }
  

/*end Messages error inputEmail*/