@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;

    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);

    --padding-container:80px 0;
   
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--open-sans);
  
}

 .container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero_main{
    position: relative;
    --wave-bottom:url('./img/bg-section-top-desktop-1.svg');
}

/* Start style header*/

.hero_header {
    margin: 20px 60px;
     padding-top: 25px;
 }

.hero_nav {
    display: flex;
    justify-content: space-between;
}

.figure_logo {
    width: 45%;
    max-width: 200px;
}

.img_logo {
    width: 100%;
    vertical-align: top;
}

.hero_cta {
    display: inline-block;
    color: var(--Light-Pink);
    border: 2px solid;
    text-decoration: none;
    padding: 6px 26px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgb(192 192 192 / 49%);
}
/*End style header*/

/*Start principal_block*/
.principal_block{
    text-align: center;
    color: var(--Very-Dark-Cyan);
}

.hero_paragraph{
    width: 40%;
    margin: 16px auto;
    line-height: 1.5;
}

.hero_title{
font-family: var(--poppins);
font-size: 40px;
}

.cta_GetStarted {
    display: inline-block;
    text-decoration: none;
    padding: 18px 67px;
    background: var(--Pink);
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    margin-top: 16px;
    box-shadow: 0px 0px 10px rgb(192, 192, 192.1);
}

.hero_picture{
    margin-top: 80px;
    vertical-align: top;
}

.hero_img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    vertical-align: top;
}
.hero_numbers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    padding-bottom:17%;
    gap:60px;
}

.hero_element {
    overflow: hidden;
}

.hero_number {
    font-size: 70px;
}

.paragraph_element{
    color: rgb(128 128 128 / 64%);
}

.hero_icon{
    display: block;
}
/*End Section principal*/

/*Start Section wave*/
.wave{
position: absolute;
width: 100%;
height: 100px;
background-repeat: no-repeat;
background-size: 100% 100px;
}

.wave-bottom{
    left: 0;
    bottom: -1px;
    background-image: var(--wave-bottom);
}

.wave-top{
    left: 0;
    top:0;
    background-image:var(--wave-top);
}

/*End Section Wave*/

/*Start section_secondary*/
.section_secondary {
    background-color: var(--Very-Pale-Blue);
    color: var(--Very-Dark-Cyan);
    --padding-container: 110px 0;
}

.section_container {
    display: flex;
    flex-direction: row-reverse;
}

.section_img {
    width: 100%;
    max-width: 90%;
}

.section_text {
    text-align: left;
    margin-top: 10%;
}

.subtitle {
    font-family: var(--poppins);
    margin-bottom: 10px;
}

.section_paragraph {
    width: 76%;
}

.section_white {
    position: relative;
    background-color: #fff;
    --wave-bottom:url('./img/bg-section-top-desktop-2.svg');
    --wave-top:url('./img/bg-section-bottom-desktop-1.svg');
    --padding-container: 210px 0;
}

.section_white .section_container {
    flex-direction: row;
}

.section_white .section_paragraph {
width: 92%;
}
 /*End section_secondary*/

/*Start question*/
.question{
    color: var(--Very-Dark-Cyan);
    text-align: center;
    position: relative;
    --wave-top:url('./img/bg-section-bottom-desktop-2.svg');
    --wave-bottom:url('./img/bg-footer-top-desktop.svg');
    --padding-container:190px 0 210px;
   
}
/*End question*/

 /*Start footer*/
.footer{
    background-color: var(--Very-Dark-Cyan);
    color: var(--Very-Pale-Blue);
}

.container_footer{
    display: flex;
    gap: 25%;

}

.paragraph_footer {
    margin: 16px 0;
    line-height: 1.5;
}

.container_paragraph_footer p {
    width: 73%;
}

.container_text p {
    width: 83%;
}

.title_footer{
    font-family: var(--poppins);
}

.icons_information ul{
list-style: none;
padding: 0;
}

.icons_information ul li{
    margin: 10px 0;
    }

.icons_information ul i{
    margin-right: 10px;
}

.icons_social_media{
    margin-top:50px;
}

.icons_social_media ul{
display: flex;
list-style: none;
padding: 0;
gap: 10px;
}
.fa-brands, .fab{
font-size: 30px;
}

.fa-square-twitter:hover {
    color: #1da1f2;
}

.fa-instagram:hover{
color: transparent;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
background-clip: text;
-webkit-background-clip: text;
}

.fa-square-facebook:hover{
color:#1877f2;

}
.firts_column{
    width: 50%;
}

.second_column{
    width: 50%;
position:relative;
}

.form input{
    cursor: pointer;
}

input[type="email"]{
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 50%;
    text-indent: 6px;
}

input[type="email"]:focus{
outline: 0px;
 }

 input[type="submit"]:focus{
    outline: 0px;
     }

 input[type="submit"]{
    display: inline-block;
    padding: 8px 30px;
    background: var(--Pink);
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-left: 30px;
 }

 input .invalid { border-color:var(--Light-Red); }
 
/*End Footer*/

/*Messages error inputEmail*/

.notify {
    font-size: 12px;
    color: var(--Light-Red);
    position: absolute;
    top: 74%;
    left: 0;
  }
/*end Messages error inputEmail*/

/*media queries*/
@media (min-width:768px){

}